<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter By:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]='productFilter'/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered By: {{productFilter}}</h3></div>
        </div>
        <div class="table-responsive">
                <table class="table" *ngIf='products && products.length'>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)='showhideImage()'>
                                {{showImage?'Hide Image':'Show Image'}}
                                <!-- {{showImage}} -->
                            </button>
                        </th> 
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                    <tr *ngFor='let product of products|productFilterName:productFilter'>
                        <td>
                            <img *ngIf='showImage' 
                            [src]="product.imageUrl" [style.width.px]='imageWidth'>
                        </td>
                        <td>{{product.productName | lowercase}}</td>
                        <td>{{product.productCode | uppercase}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price}}</td>
                        <td><starSelector [rating]='product.starRating'></starSelector></td>
                    </tr>

                </table>
        </div>
    </div>
    <div>
</div>